[Unit]
Description=user Encfs FUSE mount
Documentation=https://vgough.github.io/encfs/
AssertPathIsDirectory=%h/encfs
Wants=amazon-cloud-drive.service

[Service]
Type=simple
Environment=ENCFS6_CONFIG=%h/.encfs6.xml
ExecStartPre=/bin/mountpoint %h/acd
ExecStart=/usr/bin/encfs -f --extpass="cat %h/.extpass" %h/acd/.encfs %h/encfs
ExecStop=/bin/fusermount -u %h/encfs
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
